main {
  background-color: #EEEEEE;
  width: 800px;
  height: 100px;
  margin: auto;
}




.list-box > div {
  border: 4px solid teal;
  border-radius: 12px;
  width: 270px;

  padding: 20px;
}

.list-box >div > button {
  border: 2px solid green;
  border-radius: 4px;
  font-size: 13px;
  background-color: white;
  width: 130px;
  height: 40px;
  margin-top: 24px;
  margin-left: 5px;     
}
/* margin 골고루 주는 법 버튼 간격 제대로 할려면 어케야함?? */